body,
html {
    height: 100%;
    margin: 30px;
    padding: 0;

    a.button {
        color: #333;
        font-weight: 300;
    }
}
// axis styles for D3
.axis {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.exp-btn:hover {
    cursor: pointer;
    border: 1px solid black;
}

.noobelectric {
    width: 650px;
    margin: 0 auto;

    .main-title {
        text-align: center;
        padding-bottom: 20px;
    }

    .header {
        height: 50px;

        .home-btn {
            font-size: 25px;
        }
    }

    .main-content {
        clear: both;
        padding: 5%;
    }

    .home-menu {
        width: 585px;
        text-align: center;
        margin: 0 auto;

        .button {
            float: left;
            padding: 0 35px;
            font-weight: 300;
        }
    }

    .quote {
        font-size: 20px;
    }

    .exp {
        width: 650px;
        margin: 0 auto;

        .exp-description {
            padding-bottom: 25px;
        }

        .exp-menu-more {
            padding-right: 15px;
        }

        .exp-introduction {
            min-height: 50px;
            padding-bottom: 35px;
        }
        .image-container {
            height: 170px;
            position: relative;
        }

        .exp-image {
float: left;
    padding: 0 8px;
    position: relative;

    .exp-image-subtitle {
        position: absolute;
bottom: -21px;
left: 62px;
font-size: 12px;
font-weight: 200;
    }


img {
    padding: 0;
    height: 95px;

    border-radius: 10px;
}
        }

        .sub-heading {
            color: #868585;
            font-size: 10px;
        }

        .exp-header {
            position: relative;
            padding-bottom: 25px;
        }

        .exp-date {
            position: absolute;
            right: 0;
            font-size: 12px;
            font-weight: 200;
        }
        .exp-id {
            font-size: 12px;
font-weight: 200;
        }
    }
}

.histogram-small-container {
    width: 300px;
    float: left;
    // svg {
    //     padding-left: 15px;
    // }
}

.stokes-container {
    clear: both;
    // svg {
    //     padding-left: 50px;
    // }
    position: relative;
    .stokes-stats {
        width: 150px;
position: absolute;
right: -150px;
top: 50px;


    h5 {
        text-decoration: underline;
    }
    }
}
//
// .exp-image-modal {
//     position: fixed;
//     z-index: 99;
//     top: 0;
//     padding: 50px;
//     // height: 100vh;
//     // background-color: rgba(11u8, 116, 123, 0.8);
//
//     .exp-image-full {

//         // width: 490px;
//     }
// }
.exp-image-full {
    img {
        width: 295px;
    padding: 10px;
    margin-top: 20px;
    float: left;
    }

}
.exp-image-full-histogram {
    float: left;
width: 232px;
margin-top: 25px;
margin-left: 10px;
}

// .calc {
//     span {
//
//     width: 65px;
// text-overflow: ellipsis;
// display: block;
// /* position: relative; */
// overflow: hidden;
// margin: 0;
//     }
// }
