html, body {
  height: 100%;
  margin: 30px;
  padding: 0;
}


// axis styles for D3
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.noobelectric {
    .title {
        text-align: center;
        padding-bottom: 20px;
    }
    .header{
        width: 115px;
        float: right;

        .home-btn {
            font-size: 25px;
        }
    }
    .main-content {
        clear: both;
        padding: 5%;
        width: 650px;
        margin: 0 auto;
    }
        .home-menu {
            position: absolute;
            left: 508px;
            width: 600px;
            text-align: center;

            .button {
                float: left;
                padding-right: 68px;
            }
        }
        .quote {
            font-size: 20px
        }
        .exp {
            width: 650px;
            margin: 0 auto;

            .sub-heading {
                color: #868585;
                font-size: 10px;
            }
            .exp-header {
                position: relative;
                padding-bottom: 25px;
            }
            .exp-date {
                position: absolute;
                right: 0;
            }
        }

}

.histogram-small-container {
    width: 300px;
    float: left;

    // svg {
    //     padding-left: 15px;
    // }
}
.stokes-container {
    clear: both;

    // svg {
    //     padding-left: 50px;
    // }
}
